body{
    background-image:url(https://previews.123rf.com/images/appstock/appstock1503/appstock150300465/37967255-abstract-weathered-texture-stained-old-stucco-light-gray-and-aged-paint-white-brick-wall-background-.jpg) alt="photo";
    background-size:cover;
    background-repeat:no-repeat;
  }