body{
    background-image: url(https://ak9.picdn.net/shutterstock/videos/27599329/thumb/1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
  }
  #About{
      background-image: url(https://ak0.picdn.net/shutterstock/videos/27599320/thumb/1.jpg);

  }
  #contact{
      background-color: #F9B1C4;
  }